@{
    ViewData["Title"] = "An Error Occured";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>


<h3>It resulted in an error</h3>
<p>
    The operation you performed resulted in an <strong>error!</strong>, but we will make sure that it would not repeat.
</p>
